<h3>Shopping cart</h3>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Product</th>
			<th>Details</th>
			<th>Count</th>
			<th>Sub-Total</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		
		<% if( products.length === 0){%>
			<tr>
				<td colspan="5">There are not products yet.</td>
			</tr>
		<% } %>
				
		<% for (var idx = 0, len = products.length; idx < len; idx ++) { %>
			<tr>		
				<td><%= products[idx].title %></td>
				<td><%= products[idx].variations %></td>
				<td><input type="number" value="<%= products[idx].count %>" min="1" max="100" step="1" data-idx="<%=idx%>"></td>
				<td>$<%= products[idx].count * products[idx].price %></td>
				<td><a href="#cart" class="btn btn-danger btn-xs btn-remove" title="Remove" data-idx="<%=idx%>"><span class="glyphicon glyphicon-trash"></span> Remove</a></td>				
			</tr>			
		<% } %>
		
		<tfoot>			
			<tr class="info">
				<th colspan="3">Sub-Total</th>						
				<td colspan="2">$<%=ESHOP_JS.modules.cart.totalPrice()%></td>				
			</tr>			
		</tfoot>				
	</tbody>	
</table>