<table class="table table-striped table-bordered">
	<caption><%=ESHOP_JS.settings.messages.SUMMARY_HEADLINE%></caption>
 	<thead> 	 
		<tr>
			<th><%=ESHOP_JS.settings.messages.PRODUCT_TITLE_COLUMNT_NAME%></th>
			<th><%=ESHOP_JS.settings.messages.PRODUCT_DETAILS_COLUMNT_NAME%></th>
			<th><%=ESHOP_JS.settings.messages.PRODUCT_PRICE_COLUMNT_NAME%></th>
			<th><%=ESHOP_JS.settings.messages.PRODUCT_COUNT_COLUMNT_NAME%></th>
			<th><%=ESHOP_JS.settings.messages.PRODUCT_SUBTOTAL_COLUMNT_NAME%></th>		
		</tr>
	</thead>
	
	<tbody>
		
		<% if( products.length === 0){%>
			<tr>
				<td colspan="5"><%=ESHOP_JS.settings.messages.PRODUCT_EMPTY_MESSAGE%></td>
			</tr>
		<% } %>
				
		<% for (var idx = 0, len = products.length; idx < len; idx ++) { %>
			<tr>		
				<td><%= products[idx].title %></td>
				<td><%= products[idx].variations %></td>
				<td><%=ESHOP_JS.settings.messages.CURRENCY_BEFORE%><%= products[idx].price %><%=ESHOP_JS.settings.messages.CURRENCY_AFTER%></td>
				<td><%= products[idx].count %></td>
				<td><%=ESHOP_JS.settings.messages.CURRENCY_BEFORE%><%= products[idx].count * products[idx].price %><%=ESHOP_JS.settings.messages.CURRENCY_AFTER%></td>							
			</tr>			
		<% } %>
		
		<tfoot>			
			<tr>
				<th colspan="4"><%=ESHOP_JS.settings.messages.PRODUCT_SUBTOTAL_COLUMNT_NAME%></th>						
				<td colspan="1"><%=ESHOP_JS.settings.messages.CURRENCY_BEFORE%><%=summary.subTotal%><%=ESHOP_JS.settings.messages.CURRENCY_AFTER%></td>				
			</tr>			
			<tr>
				<th colspan="4"><%=ESHOP_JS.settings.messages.POSTAGE%></th>						
				<td colspan="1"><%=ESHOP_JS.settings.messages.CURRENCY_BEFORE%><%=summary.totalPostagePrice%><%=ESHOP_JS.settings.messages.CURRENCY_AFTER%></td>				
			</tr>			
			<tr class="info">
				<th colspan="4"><%=ESHOP_JS.settings.messages.TOTAL_PRICE%></th>						
				<td colspan="1"><b><%=ESHOP_JS.settings.messages.CURRENCY_BEFORE%><%=summary.totalPrice%><%=ESHOP_JS.settings.messages.CURRENCY_AFTER%></b></td>				
			</tr>					
		</tfoot>				
	</tbody>	 	
</table>

<input type="hidden" name="cart" value="<%=ESHOP_JS.modules.cart.toString()%>" >